Repository carhartl/git-commit-template: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, golangci, prettier, yamllint

.lefthook.yaml:

---
skip_output:
  - meta # Skips lefthook version printing
  - empty_summary # Skips summary heading when there are no steps to run
  - execution # Skips printing any execution logs (but prints if the execution failed)
  - execution_out # Skips printing execution output (but still prints failed commands output)
  - skips # Skips "skip" printing (i.e. no files matched)
pre-commit:
  parallel: true
  commands:
    actionlint:
      tags: lint
      glob: ".github/workflows/*.yml"
      run: actionlint {staged_files}
    golangci:
      tags: lint
      glob: "*.go"
      run: golangci-lint run ./...
    prettier:
      tags: style
      glob: "*.{md,yaml,yml}"
      stage_fixed: true
      run: prettier --write {staged_files}
    yamllint:
      tags: lint
      glob: "*.{yaml,yml}"
      run: |
        yamllint -d "{extends: default, rules: {line-length: {max: 120}, comments: disable}}" {staged_files}

Refine Lefthook config
  .lefthook.yaml
Due: prettier, yamllint

Add shfmt to Git hook
  .lefthook.yaml
Due: prettier, yamllint

Remove redundant defer
  internal/command/set_template_test.go
Due: golangci

Rename variable for conciseness
  internal/command/set_template_test.go
Due: golangci

Refactor test setup to better reveal intent
  internal/command/set_template_test.go
Due: golangci

Introduce GitHub Actions based releasing
  .github/workflows/release.yml
  .goreleaser.yaml
  release.sh
Due: actionlint, prettier, yamllint

Remove git dependency from Homebrew formula
  .goreleaser.yaml
Due: prettier, yamllint

Adapt for golangci-lint v2
  .golangci.yaml
  internal/command/set_template_test.go
  internal/command/unset_template_test.go
Due: golangci, prettier, yamllint

Fix Go module version confusion
  go.mod
Due: none

Use Go 1.24 tool support
  go.mod
  go.sum
  tools.go
  update-flake.sh
Due: golangci

Update for Flake
  go.mod.sri
Due: none

Fix Goreleaser cosign setup
  .goreleaser.yaml
Due: prettier, yamllint

Configure cooldown period for Dependabot
  .github/dependabot.yml
Due: prettier, yamllint

Remove Nix flake setup
  flake.lock
  flake.nix
  go.mod
  go.mod.sri
  go.sum
  update-flake.sh
Due: none

Remove VS Code setup
  .vscode/settings.json
Due: none

Simplify Go module layout
  .goreleaser.yaml
  README.md
  git_check.go
  main.go
  set_template.go
  set_template_test.go
  unset_template.go
  unset_template_test.go
Due: golangci, prettier, yamllint

Simplify releasing
  .env
  .gitignore
  README.md
  main.go
  release.sh
Due: golangci, prettier

Change to free license
  LICENSE
Due: none

Migrate from Lefthook to hk for Git hooks
  .lefthook.yaml
  hk.pkl
  mise.toml
Due: prettier, yamllint
